.cardDocDet{
    display: flex;
    justify-content: flex-start;
    border-radius: 10% !important;
    /* margin-left: 10px; /
    / border: 1px black solid; */
    margin-right: 10px;
    height: 10vh;
    width: 12vh;
  }
  
  .settings__tableInfo{
    display: flex;
    flex-direction: row;
    margin-right: 8px;
  }
  
  div h4{
    margin-top: 2vh;
  }