{% extends 'main.html' %}
{% load static %}
{% block title %}
My Profile
{% endblock %}

{% block content %}
<main class="settingsPage profile my-md">
  <div class="container">
    <div class="layout">
      <div class="column column--1of3">
        <div class="card text-center">
          <div class="card__body dev">
            <a class="tag tag--pill tag--main settings__btn" href="#"><i class="im im-edit"></i> Edit</a>
            <img class="avatar avatar--xl dev__avatar" src="{{patient.profile_image.url}}" />
            <h2 class="dev__name">{{patient.name}}</h2>
            <br>
            <p class="dev__title">Age: {{patient.age}}</p>
            <p class="dev__title">DOB: {{patient.dob}}</p>
            <p class="dev__title">Height: {{patient.height}} cms</p>
            <p class="dev__title">Weight: {{patient.weight}} Kgs</p>
            <p class="dev__title">Blood group: A+</p>

            <br>
            <p class="dev__title">{{patient.email}}</p>
            <p class="dev__title">Phone Number: {{patient.phone_number}}</p>
            <br>
            <p class="dev__location">Based in {{patient.address}}</p>
            
          </div>
        </div>
      </div>
      <div class="column column--2of3">
        <div class="devInfo">
          <h5 class="devInfo__title">{{patient.name}}'s Medical History</h5>
          <p class="devInfo__about"></p>
        </div>
        <div class="settings">
          <h3 class="settings__title">Doctors Consulted Previously</h3>
          <a class="tag tag--pill tag--sub settings__btn tag--lg" href="#"><i class="im im-plus"></i> Add Doctor</a>
        </div>

        <table class="settings__table">
          <tr>
            <td class="settings__tableInfo">
              <img class="card cardDocDet" src="https://media.istockphoto.com/vectors/doctor-research-in-blood-sample-patient-in-test-tube-finding-a-cure-vector-id1212718715" alt="">
              <div>
                <h4>DR. abcd</h4>
              <p>
                Cardiologist
              </p>
              </div>
              
            </td>
            <td class="settings__tableActions">
              <a class="tag tag--pill tag--main settings__btn" href="#"><i class="im im-x-mark-circle-o"></i>
                Delete</a>
            </td>
          </tr>
 
        </table>

        <div class="settings">
          <h3 class="settings__title">Reports</h3>
          <a class="tag tag--pill tag--sub settings__btn tag--lg" href="#"><i class="im im-plus"></i> Add Report</a>
        </div>

        <table class="settings__table">
          {% for report in reports %}
          <tr>
            <td class="settings__thumbnail">
              <a href="http://127.0.0.1:8000/images/{{report.report}}" ><img src="{% static 'images/folder.png' %}" alt="Report Default" /></a>
            </td>
            <td class="settings__tableInfo">
              <a href="http://127.0.0.1:8000/images/{{report.report}}">{{report.title}}</a>
            </td>
            <td>
              Date: {{report.created_at}}
            </td>
            <td class="settings__tableActions">
              <a class="tag tag--pill tag--main settings__btn" href="#"><i class="im im-x-mark-circle-o"></i>
                Delete</a>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</main>

{% endblock %}